@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-title {
        @apply text-2xl font-semibold;
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.skeleton {
    animation: loading 1s infinite linear alternate;
}

@keyframes loading {
    0% {
        background-color: #bebec2;
    }

    100% {
        background-color: #a0a0a0;
    }
}